// helpers
@use "./helpers/variables.scss" as *;
@use "./helpers/mixins.scss" as *;
@use "./libs/normalize.min.css" as *;

// sections
// @use "sections/" as *;

// fonts
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

* {
  font-family: var(--font-family);
  ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: var(--font-regular);
}