// helpers
@use "./helpers/variables.scss" as *;
@use "./helpers/mixins.scss" as *;
@use "./libs/normalize.min.css" as *;

// sections
@use "sections/button/button.scss" as *;
@use "sections/header/hamburger.scss" as *;
@use "sections/header/header.scss" as *;
@use "sections/home/home.scss" as *;
@use "sections/sponsors/sponsors.scss" as *;
@use "sections/specs/specs.scss" as *;
@use "sections/case/case.scss" as *;
@use "sections/discount/discount.scss" as *;
@use "sections/products/products.scss" as *;
@use "sections/footer/footer.scss" as *;
@use "sections/scroll/scroll.scss" as *;
@use "sections/scrollup/scrollup.scss" as *;

// fonts
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

* {
  font-family: var(--font-family);
  ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: var(--font-regular);
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  margin: 0;
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  padding: var(--section-padding);
}

.title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2-5);
}

.gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}