:root {
	// font
	--font-family: 'Poppins', sans-serif;
	--font-medium: 500;
	--font-semi-bold: 600;
	--biggest-font-size: 5rem;
	--bigger-font-size: 4.5rem;
	--big-font-size: 2.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	--text-line-height: 2rem;

	// colors
	--hue-color: 206;
	--body-bg-color: hsl(var(--hue-color), 4%, 6%);
	--text-color: hsl(var(--hue-color), 4%, 75%);
	--title-color: hsl(var(--hue-color), 4%, 95%);
	--text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
	--nav-menu-bg: hsla(0, 0%, 35%, .1);
	--black-color: hsl(var(--hue-color), 4%, 4%);
	--black-color-alt: hsl(var(--hue-color), 4%, 8%);
	--white-color: #fff;

	// paddings & margins
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--section-padding: 6rem 0 2rem;

	// z-indexes
	--z-hamburger: 1000;
	--z-header: 100;

	// heights
	--header-height: 3rem;
}