.hamburger {
	width: 30px;
	height: 22.5px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	display: none;
	z-index: var(--z-hamburger);
}

.hamburger span {
	display: block;
	position: absolute;
	height: 4.5px;
	width: 100%;
	background: white;
	border-radius: 4.5px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
	top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
	top: 9px;
}

.hamburger span:nth-child(4) {
	top: 18px;
}

.hamburger.active span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}

.hamburger.active span:nth-child(2) {
	transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
	transform: rotate(-45deg);
}

.hamburger.active span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}

@media (max-width: 800px) {
	.hamburger {
		display: block;
		pointer-events: all;
		opacity: 1;
	}
}