header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	z-index: var(--z-header);

	.nav {
		height: var(--header-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;

		&_logo {
			width: 30px;
			height: 30px;
		}

		&_list {
			display: flex;
			justify-content: center;
			gap: 3rem;
			list-style-type: none;
			z-index: var(--z-hamburger);

			li {
				a {
					font-weight: var(--font-semi-bold);
					font-size: var(--normal-font-size);
					background: var(--text-gradient);
					color: transparent;
					background-clip: text;
					-webkit-background-clip: text;

					&:hover {
						color: var(--color-white);
					}

					&.active {
						color: transparent;
						background: var(--white-color);
						background-clip: text;
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	header {
		.nav {
			&_list {
				height: 70vh;
				position: absolute;
				top: -70vh;
				left: 0;
				right: 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1.5rem;
				margin: 0;
				padding: 1rem 0;
				background-color: var(--body-bg-color);
				transition: top 0.4s;

				&.active {
					display: flex;
					top: 0vh;
				}
			}

			&_link {
				a {
					font-size: var(--h2-font-size);
					text-transform: uppercase;
				}
			}
		}
	}
}