.products {
	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		padding-top: 3rem;
	}

	&_title {
		line-height: 4rem;
	}

	&_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: .8rem;
		border-radius: .5rem;
		background-color: var(--container-color);
	}

	&_img {
		max-width: 95px;
		margin-bottom: var(--mb-2-5);
	}

	&_subtitle {
		font-size: var(--small-font-size);
		font-weight: var(--font-semi-bold);
		margin-left: 0;
		margin-right: auto;
		line-height: 0;
		z-index: 10;
	}

	&_cart {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3rem;

		button {
			padding: 0.75rem;
		}
	}
}