.home {

	&_wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	&_image-wrapper {
		width: 50%;
		position: relative;
		display: flex;
		justify-content: center;

		img {
			position: absolute;
			max-width: 300px;
			bottom: 5rem;
			z-index: -1;
		}
	}

	&_info {
		width: 50%;
		position: relative;
		padding-top: 10rem;
	}

	&_title {
		position: absolute;
		top: 5rem;
		left: 2rem;
		line-height: 6rem;
		font-size: var(--biggest-font-size);
		margin: 0;

	}

	&_subtitle {
		font-size: var(--big-font-size);
		margin-bottom: var(--mb-2-5);
		margin-top: 0;
	}

	&_info-title {
		font-size: var(--h3-font-size);
		font-weight: var(--font-medium);
		margin-bottom: var(--mb-1);
	}

	&_description {
		line-height: var(--text-line-height);
		margin-bottom: var(--mb-2-5);
		margin-top: 0;
	}

	&_bag {
		&_price {
			font-size: var(--h3-font-size);
			font-weight: var(--font-semi-bold);
			margin-left: var(--mb-0-75);
		}
	}
}

@media(max-width:800px) {
	.home {

		&_image-wrapper {
			img {
				position: absolute;
				max-width: 230px;
				bottom: 5rem;
			}
		}

		&_info {
			padding-top: 6rem;
		}

		&_title {
			top: 2rem;
			left: 1.5rem;
			font-size: 4.4rem;
		}

		&_subtitle {
			font-size: var(--big-font-size);
			margin-bottom: 2rem;
		}

		&_info-title {
			font-size: var(--h3-font-size);
			font-weight: var(--font-medium);
			margin-bottom: var(--mb-1);
		}

		&_description {
			line-height: 1.8rem;
			margin-bottom: 1.5rem;
		}
	}
}

@media(max-width:600px) {
	.home {

		&_image-wrapper {
			position: absolute;

			img {
				position: absolute;
				right: -5rem;
				bottom: 10.5rem;
			}
		}

		&_info {
			width: 100%;
		}

		&_title {
			top: 2rem;
			left: 1.5rem;
			font-size: 4.4rem;
		}

		&_subtitle {
			font-size: var(--big-font-size);
			margin-bottom: 2rem;
		}

		&_info-title {
			font-size: var(--h3-font-size);
			font-weight: var(--font-medium);
			margin-bottom: var(--mb-1);
		}

		&_description {
			line-height: 1.8rem;
			margin-bottom: 1.5rem;
		}
	}
}